<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ANIDataAggregationService.Properties.Settings.AniDatabaseConnectionString"
            connectionString="Data Source=sql2k802.discountasp.net;Initial Catalog=SQL2008_753919_prod;Persist Security Info=True;User ID=SQL2008_753919_prod_user;password=SecureMe42"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>