<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ANIDataAggregationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ANIDataAggregationService.Properties.Settings.AniDatabaseConnectionString"
            connectionString="Data Source=sql2k802.discountasp.net;Initial Catalog=SQL2008_753919_prod;Persist Security Info=True;User ID=SQL2008_753919_prod_user;password=Password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ANIDataAggregationService.Properties.Settings>
            <setting name="BingMapsKey" serializeAs="String">
                <value>BingMapsKey</value>
            </setting>
        </ANIDataAggregationService.Properties.Settings>
    </applicationSettings>
</configuration>